USE [Autos_AMI]
GO
/****** Object:  Table [dbo].[Auto]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auto](
	[idAuto] [int] IDENTITY(1,1) NOT NULL,
	[idModelo] [int] NOT NULL,
	[Anio] [int] NOT NULL,
	[CostoAdquisicion] [decimal](10, 2) NOT NULL,
	[FechaIngresoInventario] [date] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Placa] [varchar](20) NOT NULL,
	[Precio] [decimal](18, 0) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAuto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_TotalAutosVendidos]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_TotalAutosVendidos] AS
SELECT 
    COUNT(idAuto) AS CantidadAutosVendidos
FROM Auto
WHERE Estado = 'Vendido';
GO
/****** Object:  View [dbo].[v_AutosDisponibles]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_AutosDisponibles] AS
SELECT 
    COUNT(idAuto) AS CantidadAutosDisponibles
FROM Auto
WHERE Estado = 'Disponible';
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[idVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdClientes] [int] NOT NULL,
	[FechaVenta] [date] NOT NULL,
	[FormaPago] [varchar](20) NOT NULL,
	[TotalVenta] [decimal](12, 2) NOT NULL,
	[EstadoVenta] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[idDetalleVen] [int] IDENTITY(1,1) NOT NULL,
	[idVenta] [int] NOT NULL,
	[idAuto] [int] NOT NULL,
	[PrecioRealVendido] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetalleVen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_MontoTotalVendido]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_MontoTotalVendido] AS
SELECT 
    SUM(DV.PrecioRealVendido) AS MontoTotalRecaudado
FROM DetalleVenta DV
INNER JOIN Ventas V ON DV.idVenta = V.idVenta
WHERE V.EstadoVenta = 'Finalizada';
GO
/****** Object:  View [dbo].[v_Inventario_KPIs]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_Inventario_KPIs] AS
SELECT 
    (SELECT COUNT(*) FROM Auto WHERE Estado = 'Vendido') AS TotalVendidos,
    (SELECT COUNT(*) FROM Auto WHERE Estado = 'Disponible') AS TotalDisponibles,
    (SELECT ISNULL(SUM(DV.PrecioRealVendido), 0) 
     FROM DetalleVenta DV 
     INNER JOIN Ventas V ON DV.idVenta = V.idVenta 
     WHERE V.EstadoVenta = 'Finalizada') AS MontoVendido;
GO
/****** Object:  View [dbo].[v_Ventas_UI]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_Ventas_UI] AS
SELECT 
    -- 1. Ventas realizadas (Cuenta cuántas facturas completadas hay)
    (SELECT COUNT(idVenta) 
     FROM Ventas 
     WHERE EstadoVenta = 'Finalizada') AS TotalVentasRealizadas,

    -- 2. Ingresos generados (Suma todo el dinero de las ventas finalizadas)
    (SELECT ISNULL(SUM(DV.PrecioRealVendido), 0) 
     FROM DetalleVenta DV 
     INNER JOIN Ventas V ON DV.idVenta = V.idVenta 
     WHERE V.EstadoVenta = 'Finalizada') AS IngresosGenerados,

    -- 3. Ventas este mes (Cuenta cuántas facturas se hicieron en el mes y año actual)
    (SELECT COUNT(idVenta) 
     FROM Ventas 
     WHERE EstadoVenta = 'Finalizada' 
       AND MONTH(FechaVenta) = MONTH(GETDATE()) 
       AND YEAR(FechaVenta) = YEAR(GETDATE())) AS VentasEsteMes;
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[idCompra] [int] IDENTITY(1,1) NOT NULL,
	[idProveedor] [int] NOT NULL,
	[FechaCompra] [date] NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[EstadoCompra] [varchar](20) NOT NULL,
	[NumFactura] [varchar](50) NOT NULL,
	[TotalCompra] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Compras_UI]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_Compras_UI] AS
SELECT 
    -- 1. Compras realizadas (Cuenta cuántas facturas a proveedores están completadas)
    (SELECT COUNT(idCompra) 
     FROM Compras 
     WHERE EstadoCompra = 'Completado') AS ComprasRealizadas,

    -- 2. Monto total comprado (Suma el total pagado a proveedores por compras completadas)
    (SELECT ISNULL(SUM(TotalCompra), 0) 
     FROM Compras 
     WHERE EstadoCompra = 'Completado') AS MontoTotalComprado,

    -- 3. Órdenes pendientes (Cuenta cuántas compras están en tránsito o por recibir)
    (SELECT COUNT(idCompra) 
     FROM Compras 
     WHERE EstadoCompra = 'Pendiente') AS OrdenesPendientes;
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdClientes] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Telefono] [varchar](20) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Cedula] [varchar](100) NOT NULL,
	[idOrigen] [int] NOT NULL,
	[FechaRegistro] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdClientes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Clientes_UI]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_Clientes_UI] AS
SELECT 
    -- 1. Clientes registrados (Cuenta el total histórico de clientes)
    (SELECT COUNT(IdClientes) 
     FROM Clientes) AS TotalClientesRegistrados,

    -- 2. Nuevos clientes este mes (Cuenta los registrados en el mes y año en curso)
    (SELECT COUNT(IdClientes) 
     FROM Clientes 
     WHERE MONTH(FechaRegistro) = MONTH(GETDATE()) 
       AND YEAR(FechaRegistro) = YEAR(GETDATE())) AS NuevosClientesEsteMes;
GO
/****** Object:  Table [dbo].[CampañasMarketing]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampañasMarketing](
	[idCampaña] [int] IDENTITY(1,1) NOT NULL,
	[NombreCampaña] [varchar](100) NOT NULL,
	[PresupuestoInvertido] [decimal](18, 2) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[EstadoCampana] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCampaña] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iteracciones]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iteracciones](
	[idIteracciones] [int] IDENTITY(1,1) NOT NULL,
	[IdClientes] [int] NOT NULL,
	[idAuto] [int] NOT NULL,
	[idCampaña] [int] NOT NULL,
	[FechaIteraccion] [date] NOT NULL,
	[TipoMedio] [varchar](50) NOT NULL,
	[NivelInteres] [varchar](20) NOT NULL,
 CONSTRAINT [PK__Iteracci__5C6F7686A7B0D94C] PRIMARY KEY CLUSTERED 
(
	[idIteracciones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Marketing_UI]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_Marketing_UI] AS
SELECT 
    -- 1. Campañas activas (Cuenta las campañas con estado 'Activa')
    (SELECT COUNT(idCampaña) 
     FROM CampañasMarketing 
     WHERE EstadoCampana = 'Activa') AS CampanasActivas,

    -- 2. Alcance total de interacciones (Cuenta todos los contactos registrados)
    (SELECT COUNT(*) 
     FROM Iteracciones) AS TotalInteracciones,

    -- 3. Presupuesto total invertido (Suma la inversión de todas las campañas)
    (SELECT ISNULL(SUM(PresupuestoInvertido), 0) 
     FROM CampañasMarketing) AS PresupuestoTotal;
GO
/****** Object:  Table [dbo].[CategoriasCosto]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasCosto](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CostosEstancamientos]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostosEstancamientos](
	[idCostoEstan] [int] IDENTITY(1,1) NOT NULL,
	[idAuto] [int] NOT NULL,
	[idCategoria] [int] NOT NULL,
	[FechaGasto] [date] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[Descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCostoEstan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Costos_UI]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_Costos_UI] AS
SELECT 
    -- 1. Total de gastos (Suma general de todos los costos registrados)
    (SELECT ISNULL(SUM(Monto), 0) 
     FROM CostosEstancamientos) AS TotalGastos,

    -- 2. Gastos de mantenimiento
    (SELECT ISNULL(SUM(CE.Monto), 0) 
     FROM CostosEstancamientos CE 
     INNER JOIN CategoriasCosto C ON CE.idCategoria = C.idCategoria 
     WHERE C.NombreCategoria = 'Mantenimiento') AS GastosMantenimiento,

    -- 3. Gastos de reparación
    (SELECT ISNULL(SUM(CE.Monto), 0) 
     FROM CostosEstancamientos CE 
     INNER JOIN CategoriasCosto C ON CE.idCategoria = C.idCategoria 
     WHERE C.NombreCategoria = 'Reparacion') AS GastosReparacion,

    -- 4. Otros gastos (Agrupa Repuestos, Seguros, Almacenamiento y la categoría Otros)
    (SELECT ISNULL(SUM(CE.Monto), 0) 
     FROM CostosEstancamientos CE 
     INNER JOIN CategoriasCosto C ON CE.idCategoria = C.idCategoria 
     WHERE C.NombreCategoria IN ('Otros', 'Repuestos', 'Seguros', 'Almacenamiento')) AS OtrosGastos;
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[idRol] [int] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[EstadoUser] [varchar](20) NOT NULL,
	[CodigoEmpleado] [varchar](20) NOT NULL,
 CONSTRAINT [PK__Usuarios__645723A6474BEF7A] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Usuarios_UI]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_Usuarios_UI] AS
SELECT 
    -- 1. Total de usuarios (Conteo histórico en la tabla)
    (SELECT COUNT(*) 
     FROM Usuarios) AS TotalUsuarios,

    -- 2. Usuarios activos
    (SELECT COUNT(*) 
     FROM Usuarios 
     WHERE EstadoUser = 'Activo') AS UsuariosActivos,

    -- 3. Usuarios inactivos
    (SELECT COUNT(*) 
     FROM Usuarios 
     WHERE EstadoUser = 'Inactivo') AS UsuariosInactivos;
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[IdCargo] [int] IDENTITY(1,1) NOT NULL,
	[NombreCargo] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[idDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[NombreDepartamento] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[idDetalleCompra] [int] IDENTITY(1,1) NOT NULL,
	[idCompra] [int] NOT NULL,
	[idAuto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetalleCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[IdEmpleado] [varchar](20) NOT NULL,
	[CodigoEmpleado] [varchar](20) NOT NULL,
	[NombreEmpleado] [varchar](100) NOT NULL,
	[ApellidoEmpleado] [varchar](100) NOT NULL,
	[IdCargo] [int] NOT NULL,
	[idDepartamento] [int] NOT NULL,
	[FechaIngreso] [date] NOT NULL,
	[SalarioBase] [decimal](12, 2) NOT NULL,
	[EstadoEmpleado] [varchar](20) NOT NULL,
	[Cedula] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Empleado__CE6D8B9ED43D42F3] PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[idMarca] [int] IDENTITY(1,1) NOT NULL,
	[NombreMarca] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelos]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelos](
	[idModelo] [int] IDENTITY(1,1) NOT NULL,
	[idMarca] [int] NOT NULL,
	[NombreModelo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idModelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrigenesClientes]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrigenesClientes](
	[idOrigen] [int] IDENTITY(1,1) NOT NULL,
	[NombreCanal] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idOrigen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[idPermiso] [int] IDENTITY(1,1) NOT NULL,
	[idRol] [int] NOT NULL,
	[modulo] [varchar](50) NOT NULL,
	[puedeVer] [bit] NOT NULL,
	[puedeAgregar] [bit] NOT NULL,
	[puedeEditar] [bit] NOT NULL,
	[puedeEliminar] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planilla]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planilla](
	[IdPlanilla] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpleado] [varchar](20) NOT NULL,
	[FechaInicioPeriodo] [date] NOT NULL,
	[FechaFinPeriodo] [date] NOT NULL,
	[FechaPago] [date] NULL,
	[SalarioBase] [decimal](12, 2) NOT NULL,
	[DiasTrabajados] [int] NOT NULL,
	[HorasExtra] [int] NOT NULL,
	[Bonificaciones] [decimal](18, 2) NOT NULL,
	[Comisiones] [decimal](18, 2) NOT NULL,
	[OtrosIngresos] [decimal](18, 2) NOT NULL,
	[SalarioBruto] [decimal](18, 2) NOT NULL,
	[INSS] [decimal](18, 2) NOT NULL,
	[IR] [decimal](18, 2) NOT NULL,
	[OtrasDeducciones] [decimal](18, 2) NOT NULL,
	[TotalIngresos] [decimal](18, 2) NOT NULL,
	[TotalDeducciones] [decimal](18, 2) NOT NULL,
	[SalarioNeto] [decimal](18, 2) NOT NULL,
	[INSSPatronal] [decimal](18, 2) NOT NULL,
	[TotalAPagar] [decimal](18, 2) NOT NULL,
	[Estado] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Planilla] PRIMARY KEY CLUSTERED 
(
	[IdPlanilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[idProveedor] [int] IDENTITY(1,1) NOT NULL,
	[NomProveedor] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NOT NULL,
	[Direccion] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 18/9/2026 17:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Auto] ON 

INSERT [dbo].[Auto] ([idAuto], [idModelo], [Anio], [CostoAdquisicion], [FechaIngresoInventario], [Estado], [Placa], [Precio], [Descripcion]) VALUES (1, 5, 2024, CAST(31000.00 AS Decimal(10, 2)), CAST(N'2025-02-12' AS Date), N'Disponible', N'M015TY', CAST(37000 AS Decimal(18, 0)), N'Toyota Tacoma color rojo')
INSERT [dbo].[Auto] ([idAuto], [idModelo], [Anio], [CostoAdquisicion], [FechaIngresoInventario], [Estado], [Placa], [Precio], [Descripcion]) VALUES (2, 5, 2024, CAST(31000.00 AS Decimal(10, 2)), CAST(N'2025-02-20' AS Date), N'Vendido', N'M025TY', CAST(35000 AS Decimal(18, 0)), N'Toyota Tacoma color blanco')
INSERT [dbo].[Auto] ([idAuto], [idModelo], [Anio], [CostoAdquisicion], [FechaIngresoInventario], [Estado], [Placa], [Precio], [Descripcion]) VALUES (3, 5, 2024, CAST(31000.00 AS Decimal(10, 2)), CAST(N'2025-01-12' AS Date), N'Disponible', N'M035TY', CAST(37000 AS Decimal(18, 0)), N'Toyota Tacoma color negro')
SET IDENTITY_INSERT [dbo].[Auto] OFF
GO
SET IDENTITY_INSERT [dbo].[CampañasMarketing] ON 

INSERT [dbo].[CampañasMarketing] ([idCampaña], [NombreCampaña], [PresupuestoInvertido], [FechaInicio], [FechaFin], [EstadoCampana]) VALUES (1, N'Feria de Verano 2026', CAST(2500.00 AS Decimal(18, 2)), CAST(N'2026-01-15' AS Date), CAST(N'2026-03-15' AS Date), N'Finalizada')
INSERT [dbo].[CampañasMarketing] ([idCampaña], [NombreCampaña], [PresupuestoInvertido], [FechaInicio], [FechaFin], [EstadoCampana]) VALUES (2, N'Liquidación Pickups y SUVs', CAST(3200.00 AS Decimal(18, 2)), CAST(N'2026-04-01' AS Date), CAST(N'2026-05-31' AS Date), N'Finalizada')
INSERT [dbo].[CampañasMarketing] ([idCampaña], [NombreCampaña], [PresupuestoInvertido], [FechaInicio], [FechaFin], [EstadoCampana]) VALUES (3, N'Mes de las Madres - Estrena Auto', CAST(1800.00 AS Decimal(18, 2)), CAST(N'2026-05-01' AS Date), CAST(N'2026-05-31' AS Date), N'Finalizada')
SET IDENTITY_INSERT [dbo].[CampañasMarketing] OFF
GO
SET IDENTITY_INSERT [dbo].[Cargo] ON 

INSERT [dbo].[Cargo] ([IdCargo], [NombreCargo]) VALUES (1, N'Gerente General')
INSERT [dbo].[Cargo] ([IdCargo], [NombreCargo]) VALUES (2, N'Administrador')
INSERT [dbo].[Cargo] ([IdCargo], [NombreCargo]) VALUES (3, N'Vendedor de ventas')
SET IDENTITY_INSERT [dbo].[Cargo] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoriasCosto] ON 

INSERT [dbo].[CategoriasCosto] ([idCategoria], [NombreCategoria], [Descripcion]) VALUES (1, N'Mantenimiento', N'Costo por mantenimiento')
INSERT [dbo].[CategoriasCosto] ([idCategoria], [NombreCategoria], [Descripcion]) VALUES (2, N'Reparacion', N'Se reparo el aire acondicionado')
INSERT [dbo].[CategoriasCosto] ([idCategoria], [NombreCategoria], [Descripcion]) VALUES (3, N'Repuestos', N'Se compro un vidrio de repuesto')
SET IDENTITY_INSERT [dbo].[CategoriasCosto] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([IdClientes], [Nombre], [Apellido], [Telefono], [Correo], [Cedula], [idOrigen], [FechaRegistro]) VALUES (1, N'Carlos', N'Mejía', N'8812-3456', N'carlos.mejia@email.com', N'001-120385-0001F', 1, CAST(N'2026-01-15' AS Date))
INSERT [dbo].[Clientes] ([IdClientes], [Nombre], [Apellido], [Telefono], [Correo], [Cedula], [idOrigen], [FechaRegistro]) VALUES (2, N'María', N'González', N'7721-4567', N'mgonzalez@email.com', N'281-220490-0002M', 2, CAST(N'2026-02-10' AS Date))
INSERT [dbo].[Clientes] ([IdClientes], [Nombre], [Apellido], [Telefono], [Correo], [Cedula], [idOrigen], [FechaRegistro]) VALUES (3, N'Roberto', N'Pérez', N'8934-5678', N'rperez22@email.com', N'001-150888-0003K', 1, CAST(N'2026-02-15' AS Date))
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Compras] ON 

INSERT [dbo].[Compras] ([idCompra], [idProveedor], [FechaCompra], [Descripcion], [EstadoCompra], [NumFactura], [TotalCompra]) VALUES (2, 2, CAST(N'2025-02-12' AS Date), N'Lote de 2 Toyota Tacoma (Rojo y Negro)', N'Completado', N'F-8841', CAST(62000.00 AS Decimal(18, 2)))
INSERT [dbo].[Compras] ([idCompra], [idProveedor], [FechaCompra], [Descripcion], [EstadoCompra], [NumFactura], [TotalCompra]) VALUES (3, 4, CAST(N'2026-02-18' AS Date), N'Lote de Pickups grandes (Tundra y F-150)', N'Completado', N'F-7734', CAST(74000.00 AS Decimal(18, 2)))
INSERT [dbo].[Compras] ([idCompra], [idProveedor], [FechaCompra], [Descripcion], [EstadoCompra], [NumFactura], [TotalCompra]) VALUES (4, 1, CAST(N'2026-03-02' AS Date), N'Adquisición de Toyota Land Cruiser', N'Completado', N'F-1025', CAST(55000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Compras] OFF
GO
SET IDENTITY_INSERT [dbo].[CostosEstancamientos] ON 

INSERT [dbo].[CostosEstancamientos] ([idCostoEstan], [idAuto], [idCategoria], [FechaGasto], [Monto], [Descripcion]) VALUES (1, 1, 1, CAST(N'2025-03-15' AS Date), CAST(120.00 AS Decimal(10, 2)), N'Cambio de aceite y revisión general de Toyota Tacoma')
INSERT [dbo].[CostosEstancamientos] ([idCostoEstan], [idAuto], [idCategoria], [FechaGasto], [Monto], [Descripcion]) VALUES (2, 6, 1, CAST(N'2026-04-10' AS Date), CAST(250.00 AS Decimal(10, 2)), N'Mantenimiento preventivo Land Cruiser')
INSERT [dbo].[CostosEstancamientos] ([idCostoEstan], [idAuto], [idCategoria], [FechaGasto], [Monto], [Descripcion]) VALUES (3, 14, 2, CAST(N'2026-02-15' AS Date), CAST(450.00 AS Decimal(10, 2)), N'Reparación del aire acondicionado (Hyundai Tucson)')
SET IDENTITY_INSERT [dbo].[CostosEstancamientos] OFF
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([idDepartamento], [NombreDepartamento]) VALUES (1, N'Ventas')
INSERT [dbo].[Departamento] ([idDepartamento], [NombreDepartamento]) VALUES (2, N'Administracion')
INSERT [dbo].[Departamento] ([idDepartamento], [NombreDepartamento]) VALUES (3, N'Taller')
SET IDENTITY_INSERT [dbo].[Departamento] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleCompra] ON 

INSERT [dbo].[DetalleCompra] ([idDetalleCompra], [idCompra], [idAuto]) VALUES (3, 2, 1)
INSERT [dbo].[DetalleCompra] ([idDetalleCompra], [idCompra], [idAuto]) VALUES (4, 2, 3)
INSERT [dbo].[DetalleCompra] ([idDetalleCompra], [idCompra], [idAuto]) VALUES (5, 3, 4)
SET IDENTITY_INSERT [dbo].[DetalleCompra] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleVenta] ON 

INSERT [dbo].[DetalleVenta] ([idDetalleVen], [idVenta], [idAuto], [PrecioRealVendido]) VALUES (2, 2, 2, CAST(35000.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleVenta] ([idDetalleVen], [idVenta], [idAuto], [PrecioRealVendido]) VALUES (3, 3, 4, CAST(45500.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleVenta] ([idDetalleVen], [idVenta], [idAuto], [PrecioRealVendido]) VALUES (4, 4, 7, CAST(25000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleVenta] OFF
GO
INSERT [dbo].[Empleado] ([IdEmpleado], [CodigoEmpleado], [NombreEmpleado], [ApellidoEmpleado], [IdCargo], [idDepartamento], [FechaIngreso], [SalarioBase], [EstadoEmpleado], [Cedula]) VALUES (N'1', N'EMP001', N'Andrea', N'Villavicencio Rivas', 1, 2, CAST(N'2022-10-10' AS Date), CAST(65000.00 AS Decimal(12, 2)), N'Activo', N'001-060107-1025N')
INSERT [dbo].[Empleado] ([IdEmpleado], [CodigoEmpleado], [NombreEmpleado], [ApellidoEmpleado], [IdCargo], [idDepartamento], [FechaIngreso], [SalarioBase], [EstadoEmpleado], [Cedula]) VALUES (N'10', N'EMP010', N'Sofía', N'Navarro Pérez', 7, 5, CAST(N'2023-01-16' AS Date), CAST(30000.00 AS Decimal(12, 2)), N'Activo', N'001-160398-0010K')
INSERT [dbo].[Empleado] ([IdEmpleado], [CodigoEmpleado], [NombreEmpleado], [ApellidoEmpleado], [IdCargo], [idDepartamento], [FechaIngreso], [SalarioBase], [EstadoEmpleado], [Cedula]) VALUES (N'11', N'EMP011', N'Miguel', N'Torres Hernández', 8, 3, CAST(N'2022-11-07' AS Date), CAST(24000.00 AS Decimal(12, 2)), N'Activo', N'001-071190-0011L')
GO
SET IDENTITY_INSERT [dbo].[Iteracciones] ON 

INSERT [dbo].[Iteracciones] ([idIteracciones], [IdClientes], [idAuto], [idCampaña], [FechaIteraccion], [TipoMedio], [NivelInteres]) VALUES (1, 1, 2, 1, CAST(N'2026-02-10' AS Date), N'Facebook', N'Alto')
INSERT [dbo].[Iteracciones] ([idIteracciones], [IdClientes], [idAuto], [idCampaña], [FechaIteraccion], [TipoMedio], [NivelInteres]) VALUES (2, 3, 7, 1, CAST(N'2026-01-20' AS Date), N'WhatsApp', N'Medio')
INSERT [dbo].[Iteracciones] ([idIteracciones], [IdClientes], [idAuto], [idCampaña], [FechaIteraccion], [TipoMedio], [NivelInteres]) VALUES (3, 6, 18, 1, CAST(N'2026-02-05' AS Date), N'Visita Física', N'Alto')
SET IDENTITY_INSERT [dbo].[Iteracciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Marca] ON 

INSERT [dbo].[Marca] ([idMarca], [NombreMarca]) VALUES (1, N'Toyota')
INSERT [dbo].[Marca] ([idMarca], [NombreMarca]) VALUES (2, N'Chevrolet')
INSERT [dbo].[Marca] ([idMarca], [NombreMarca]) VALUES (3, N'Honda')
SET IDENTITY_INSERT [dbo].[Marca] OFF
GO
SET IDENTITY_INSERT [dbo].[Modelos] ON 

INSERT [dbo].[Modelos] ([idModelo], [idMarca], [NombreModelo]) VALUES (1, 1, N'Corolla')
INSERT [dbo].[Modelos] ([idModelo], [idMarca], [NombreModelo]) VALUES (2, 1, N'Hilux')
INSERT [dbo].[Modelos] ([idModelo], [idMarca], [NombreModelo]) VALUES (3, 1, N'Yaris')
SET IDENTITY_INSERT [dbo].[Modelos] OFF
GO
SET IDENTITY_INSERT [dbo].[OrigenesClientes] ON 

INSERT [dbo].[OrigenesClientes] ([idOrigen], [NombreCanal]) VALUES (1, N'Instagram')
INSERT [dbo].[OrigenesClientes] ([idOrigen], [NombreCanal]) VALUES (2, N'TikTok')
INSERT [dbo].[OrigenesClientes] ([idOrigen], [NombreCanal]) VALUES (3, N'Google')
SET IDENTITY_INSERT [dbo].[OrigenesClientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Permisos] ON 

INSERT [dbo].[Permisos] ([idPermiso], [idRol], [modulo], [puedeVer], [puedeAgregar], [puedeEditar], [puedeEliminar]) VALUES (1, 4, N'Dashboard', 1, 1, 1, 1)
INSERT [dbo].[Permisos] ([idPermiso], [idRol], [modulo], [puedeVer], [puedeAgregar], [puedeEditar], [puedeEliminar]) VALUES (2, 4, N'Inventario', 1, 1, 1, 1)
INSERT [dbo].[Permisos] ([idPermiso], [idRol], [modulo], [puedeVer], [puedeAgregar], [puedeEditar], [puedeEliminar]) VALUES (3, 4, N'Ventas', 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Permisos] OFF
GO
SET IDENTITY_INSERT [dbo].[Planilla] ON 

SET IDENTITY_INSERT [dbo].[Planilla] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([idProveedor], [NomProveedor], [Telefono], [Direccion]) VALUES (1, N'Auto Importaciones Nicaragua', N'2255-1001', N'Managua, Nicaragua')
INSERT [dbo].[Proveedores] ([idProveedor], [NomProveedor], [Telefono], [Direccion]) VALUES (2, N'Distribuidora Toyota', N'2255-1002', N'Managua, Nicaragua')
INSERT [dbo].[Proveedores] ([idProveedor], [NomProveedor], [Telefono], [Direccion]) VALUES (3, N'Repuestos del Norte', N'2255-1003', N'Matagalpa, Nicaragua')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[rol] ON 

INSERT [dbo].[rol] ([idRol], [NombreRol], [Descripcion]) VALUES (4, N'Super administrador', N'Tiene acceso a todas las funciones de la aplicacion')
INSERT [dbo].[rol] ([idRol], [NombreRol], [Descripcion]) VALUES (5, N'Administrador', N'Tiene acceso a la informacion de las tablas, puede hacer CRUD')
INSERT [dbo].[rol] ([idRol], [NombreRol], [Descripcion]) VALUES (6, N'Usuario estandar', N'Solo puede ver informacion de la tabla de reportes')
SET IDENTITY_INSERT [dbo].[rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([idUsuario], [correo], [contrasena], [idRol], [fechaCreacion], [EstadoUser], [CodigoEmpleado]) VALUES (6, N'Andrea.villavicencio@ami.com', N'Ami2026#001', 4, CAST(N'2023-01-10T00:00:00.000' AS DateTime), N'Activo', N'EMP001')
INSERT [dbo].[Usuarios] ([idUsuario], [correo], [contrasena], [idRol], [fechaCreacion], [EstadoUser], [CodigoEmpleado]) VALUES (7, N'Gabriel.quintanilla@ami.com', N'Ami2026#002', 5, CAST(N'2022-05-15T00:00:00.000' AS DateTime), N'Activo', N'EMP002')
INSERT [dbo].[Usuarios] ([idUsuario], [correo], [contrasena], [idRol], [fechaCreacion], [EstadoUser], [CodigoEmpleado]) VALUES (8, N'fernando.ramirez@ami.com', N'Ami2026#009', 5, CAST(N'2023-09-04T00:00:00.000' AS DateTime), N'Activo', N'EMP009')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([idVenta], [IdClientes], [FechaVenta], [FormaPago], [TotalVenta], [EstadoVenta]) VALUES (2, 1, CAST(N'2026-03-15' AS Date), N'Transferencia', CAST(35000.00 AS Decimal(12, 2)), N'Finalizada')
INSERT [dbo].[Ventas] ([idVenta], [IdClientes], [FechaVenta], [FormaPago], [TotalVenta], [EstadoVenta]) VALUES (3, 2, CAST(N'2026-04-10' AS Date), N'Financiado', CAST(45500.00 AS Decimal(12, 2)), N'Finalizada')
INSERT [dbo].[Ventas] ([idVenta], [IdClientes], [FechaVenta], [FormaPago], [TotalVenta], [EstadoVenta]) VALUES (4, 3, CAST(N'2026-02-05' AS Date), N'Efectivo', CAST(25000.00 AS Decimal(12, 2)), N'Finalizada')
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Empleado_CodigoEmpleado]    Script Date: 18/9/2026 17:32:17 ******/
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [UQ_Empleado_CodigoEmpleado] UNIQUE NONCLUSTERED 
(
	[CodigoEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Rol_Modulo]    Script Date: 18/9/2026 17:32:17 ******/
ALTER TABLE [dbo].[Permisos] ADD  CONSTRAINT [UQ_Rol_Modulo] UNIQUE NONCLUSTERED 
(
	[idRol] ASC,
	[modulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__2A586E0B00F17789]    Script Date: 18/9/2026 17:32:17 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ__Usuarios__2A586E0B00F17789] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Permisos] ADD  DEFAULT ((0)) FOR [puedeVer]
GO
ALTER TABLE [dbo].[Permisos] ADD  DEFAULT ((0)) FOR [puedeAgregar]
GO
ALTER TABLE [dbo].[Permisos] ADD  DEFAULT ((0)) FOR [puedeEditar]
GO
ALTER TABLE [dbo].[Permisos] ADD  DEFAULT ((0)) FOR [puedeEliminar]
GO
ALTER TABLE [dbo].[Planilla] ADD  CONSTRAINT [DF__Planilla__Salari__6D0D32F4]  DEFAULT ((0)) FOR [SalarioBase]
GO
ALTER TABLE [dbo].[Planilla] ADD  CONSTRAINT [DF__Planilla__DiasTr__6E01572D]  DEFAULT ((0)) FOR [DiasTrabajados]
GO
ALTER TABLE [dbo].[Planilla] ADD  CONSTRAINT [DF__Planilla__HorasE__6EF57B66]  DEFAULT ((0)) FOR [HorasExtra]
GO
ALTER TABLE [dbo].[Planilla] ADD  CONSTRAINT [DF__Planilla__Bonifi__6FE99F9F]  DEFAULT ((0)) FOR [Bonificaciones]
GO
ALTER TABLE [dbo].[Planilla] ADD  CONSTRAINT [DF__Planilla__Comisi__70DDC3D8]  DEFAULT ((0)) FOR [Comisiones]
GO
ALTER TABLE [dbo].[Planilla] ADD  CONSTRAINT [DF__Planilla__OtrosI__71D1E811]  DEFAULT ((0)) FOR [OtrosIngresos]
GO
ALTER TABLE [dbo].[Planilla] ADD  CONSTRAINT [DF__Planilla__Salari__72C60C4A]  DEFAULT ((0)) FOR [SalarioBruto]
GO
ALTER TABLE [dbo].[Planilla] ADD  CONSTRAINT [DF__Planilla__INSS__73BA3083]  DEFAULT ((0)) FOR [INSS]
GO
ALTER TABLE [dbo].[Planilla] ADD  CONSTRAINT [DF__Planilla__IR__74AE54BC]  DEFAULT ((0)) FOR [IR]
GO
ALTER TABLE [dbo].[Planilla] ADD  CONSTRAINT [DF__Planilla__OtrasD__75A278F5]  DEFAULT ((0)) FOR [OtrasDeducciones]
GO
ALTER TABLE [dbo].[Planilla] ADD  CONSTRAINT [DF__Planilla__TotalI__76969D2E]  DEFAULT ((0)) FOR [TotalIngresos]
GO
ALTER TABLE [dbo].[Planilla] ADD  CONSTRAINT [DF__Planilla__TotalD__778AC167]  DEFAULT ((0)) FOR [TotalDeducciones]
GO
ALTER TABLE [dbo].[Planilla] ADD  CONSTRAINT [DF__Planilla__Salari__787EE5A0]  DEFAULT ((0)) FOR [SalarioNeto]
GO
ALTER TABLE [dbo].[Planilla] ADD  CONSTRAINT [DF__Planilla__INSSPa__797309D9]  DEFAULT ((0)) FOR [INSSPatronal]
GO
ALTER TABLE [dbo].[Planilla] ADD  CONSTRAINT [DF__Planilla__TotalA__7A672E12]  DEFAULT ((0)) FOR [TotalAPagar]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF__Usuarios__fechaC__07C12930]  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Auto]  WITH CHECK ADD  CONSTRAINT [FK_Auto_Modelo] FOREIGN KEY([idModelo])
REFERENCES [dbo].[Modelos] ([idModelo])
GO
ALTER TABLE [dbo].[Auto] CHECK CONSTRAINT [FK_Auto_Modelo]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_OrigenesClientes] FOREIGN KEY([idOrigen])
REFERENCES [dbo].[OrigenesClientes] ([idOrigen])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_OrigenesClientes]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Proveedores] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedores] ([idProveedor])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Proveedores]
GO
ALTER TABLE [dbo].[CostosEstancamientos]  WITH CHECK ADD  CONSTRAINT [FK_CostosEstancamientos_Auto] FOREIGN KEY([idAuto])
REFERENCES [dbo].[Auto] ([idAuto])
GO
ALTER TABLE [dbo].[CostosEstancamientos] CHECK CONSTRAINT [FK_CostosEstancamientos_Auto]
GO
ALTER TABLE [dbo].[CostosEstancamientos]  WITH CHECK ADD  CONSTRAINT [FK_CostosEstancamientos_CategoriasCosto] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[CategoriasCosto] ([idCategoria])
GO
ALTER TABLE [dbo].[CostosEstancamientos] CHECK CONSTRAINT [FK_CostosEstancamientos_CategoriasCosto]
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompra_Auto] FOREIGN KEY([idAuto])
REFERENCES [dbo].[Auto] ([idAuto])
GO
ALTER TABLE [dbo].[DetalleCompra] CHECK CONSTRAINT [FK_DetalleCompra_Auto]
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompra_Compras] FOREIGN KEY([idCompra])
REFERENCES [dbo].[Compras] ([idCompra])
GO
ALTER TABLE [dbo].[DetalleCompra] CHECK CONSTRAINT [FK_DetalleCompra_Compras]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Auto] FOREIGN KEY([idAuto])
REFERENCES [dbo].[Auto] ([idAuto])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Auto]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Ventas] FOREIGN KEY([idVenta])
REFERENCES [dbo].[Ventas] ([idVenta])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Ventas]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Cargo] FOREIGN KEY([IdCargo])
REFERENCES [dbo].[Cargo] ([IdCargo])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Cargo]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Departamento] FOREIGN KEY([idDepartamento])
REFERENCES [dbo].[Departamento] ([idDepartamento])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Departamento]
GO
ALTER TABLE [dbo].[Iteracciones]  WITH CHECK ADD  CONSTRAINT [FK_Iteracciones_Auto] FOREIGN KEY([idAuto])
REFERENCES [dbo].[Auto] ([idAuto])
GO
ALTER TABLE [dbo].[Iteracciones] CHECK CONSTRAINT [FK_Iteracciones_Auto]
GO
ALTER TABLE [dbo].[Iteracciones]  WITH CHECK ADD  CONSTRAINT [FK_Iteracciones_CampañasMarketing] FOREIGN KEY([idCampaña])
REFERENCES [dbo].[CampañasMarketing] ([idCampaña])
GO
ALTER TABLE [dbo].[Iteracciones] CHECK CONSTRAINT [FK_Iteracciones_CampañasMarketing]
GO
ALTER TABLE [dbo].[Iteracciones]  WITH CHECK ADD  CONSTRAINT [FK_Iteracciones_Clientes] FOREIGN KEY([IdClientes])
REFERENCES [dbo].[Clientes] ([IdClientes])
GO
ALTER TABLE [dbo].[Iteracciones] CHECK CONSTRAINT [FK_Iteracciones_Clientes]
GO
ALTER TABLE [dbo].[Modelos]  WITH CHECK ADD  CONSTRAINT [FK_Modelos_Marca] FOREIGN KEY([idMarca])
REFERENCES [dbo].[Marca] ([idMarca])
GO
ALTER TABLE [dbo].[Modelos] CHECK CONSTRAINT [FK_Modelos_Marca]
GO
ALTER TABLE [dbo].[Permisos]  WITH CHECK ADD  CONSTRAINT [FK_Permisos_rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[rol] ([idRol])
GO
ALTER TABLE [dbo].[Permisos] CHECK CONSTRAINT [FK_Permisos_rol]
GO
ALTER TABLE [dbo].[Planilla]  WITH CHECK ADD  CONSTRAINT [FK_Planilla_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Planilla] CHECK CONSTRAINT [FK_Planilla_Empleado]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Empleado_Codigo] FOREIGN KEY([CodigoEmpleado])
REFERENCES [dbo].[Empleado] ([CodigoEmpleado])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Empleado_Codigo]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[rol] ([idRol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_rol]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes] FOREIGN KEY([IdClientes])
REFERENCES [dbo].[Clientes] ([IdClientes])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes]
GO
ALTER TABLE [dbo].[Auto]  WITH CHECK ADD  CONSTRAINT [CK_Auto_Estado] CHECK  (([Estado]='Disponible' OR [Estado]='Vendido'))
GO
ALTER TABLE [dbo].[Auto] CHECK CONSTRAINT [CK_Auto_Estado]
GO
ALTER TABLE [dbo].[CampañasMarketing]  WITH CHECK ADD  CONSTRAINT [CK_CampañasMarketing_EstadoCampana] CHECK  (([EstadoCampana]='Finalizada' OR [EstadoCampana]='Activa' OR [EstadoCampana]='Programada'))
GO
ALTER TABLE [dbo].[CampañasMarketing] CHECK CONSTRAINT [CK_CampañasMarketing_EstadoCampana]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [CK_Compras_EstadoCompra] CHECK  (([EstadoCompra]='Pendiente' OR [EstadoCompra]='Completado'))
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [CK_Compras_EstadoCompra]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [CK_Empleado_EstadoEmpleado] CHECK  (([EstadoEmpleado]='Inactivo' OR [EstadoEmpleado]='Activo'))
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [CK_Empleado_EstadoEmpleado]
GO
ALTER TABLE [dbo].[Planilla]  WITH CHECK ADD  CONSTRAINT [CK_Planilla_Estado] CHECK  (([Estado]='Pagada' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Planilla] CHECK CONSTRAINT [CK_Planilla_Estado]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_EstadoUser] CHECK  (([EstadoUser]='Inactivo' OR [EstadoUser]='Activo'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_EstadoUser]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [CK_Ventas_EstadoVenta] CHECK  (([EstadoVenta]='Pendiente' OR [EstadoVenta]='Finalizada'))
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [CK_Ventas_EstadoVenta]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [CK_Ventas_FormaPago] CHECK  (([FormaPago]='Financiado' OR [FormaPago]='Transferencia' OR [FormaPago]='Efectivo'))
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [CK_Ventas_FormaPago]
GO
